body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    user-select: none;
}
A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
}

#root {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
}
#tg_link {
    margin-bottom: 20px;
}

#button {
    background-image: url("off_tumbler.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
}

#mainCanvas {
    width: 600px;
    height: 300px;
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}