body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    user-select: none;
}
A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
}
#root {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
}

#tg_link {
    margin-bottom: 20px;
}
label {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #111;
    line-height: 1;
}
datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 500px;

    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #111;
    letter-spacing: -1px;
    line-height: 1;
}

option {
    padding: 0;
}

input[type="range"] {
    width: 500px;
    margin: 0;
}

#mainCanvas {
    width: 1024px;
    height: 512px;
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}